In [39]:
#importing pandas to manipulate the data

import pandas as pd

In [54]:
#Reading the csv file to make it as a dataframe and store it in the variable df

df = pd.read_csv(r"E:\APythonSoftware_2025\Work_to_be_uploaded_in_GitHub\Chennai-Sales\RealEstate.csv")

In [55]:
#Displaying the first 5-rows of the Dataframe stored in the variable df

df.head()

,PRT_ID,AREA,INT_SQFT,DATE_SALE,DIST_MAINROAD,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,DATE_BUILD,BUILDTYPE,UTILITY_AVAIL,STREET,MZZONE,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE
0,P03210,Karapakkam,1004,04-05-2011,131,1.0,1.0,3,AbNormal,Yes,15-05-1967,Commercial,AllPub,Paved,A,4.0,3.9,4.9,4.330,380000,144400,7600000
1,P09411,Anna Nagar,1986,19-12-2006,26,2.0,1.0,5,AbNormal,No,22-12-1995,Commercial,AllPub,Gravel,RH,4.9,4.2,2.5,3.765,760122,304049,21717770
2,P01812,Adyar,909,04-02-2012,70,1.0,1.0,3,AbNormal,Yes,09-02-1992,Commercial,ELO,Gravel,RL,4.1,3.8,2.2,3.090,421094,92114,13159200
3,P05346,Velachery,1855,13-03-2010,14,3.0,2.0,5,Family,No,18-03-1988,Others,NoSewr,Paved,I,4.7,3.9,3.6,4.010,356321,77042,9630290
4,P06210,Karapakkam,1226,05-10-2009,84,1.0,1.0,3,AbNormal,Yes,13-10-1979,Others,AllPub,Gravel,C,3.0,2.5,4.1,3.290,237000,74063,7406250

In [56]:
#To display all the columns & tail denotes the last 5 rows of the dataframe

pd.set_option('display.max_columns',None)

df.tail()

,PRT_ID,AREA,INT_SQFT,DATE_SALE,DIST_MAINROAD,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,DATE_BUILD,BUILDTYPE,UTILITY_AVAIL,STREET,MZZONE,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE
7104,P03834,Karapakkam,598,03-01-2011,51,1.0,1.0,2,AdjLand,No,15-01-1962,Others,ELO,No Access,RM,3.0,2.2,2.4,2.52,208767,107060,5353000
7105,P10000,Velachery,1897,08-04-2004,52,3.0,2.0,5,Family,Yes,11-04-1995,Others,NoSeWa,No Access,RH,3.6,4.5,3.3,3.92,346191,205551,10818480
7106,P09594,Velachery,1614,25-08-2006,152,2.0,1.0,4,Normal Sale,No,01-09-1978,House,NoSeWa,Gravel,I,4.3,4.2,2.9,3.84,317354,167028,8351410
7107,P06508,Karapakkam,787,03-08-2009,40,1.0,1.0,2,Partial,Yes,11-08-1977,Commercial,ELO,Paved,RL,4.6,3.8,4.1,4.16,425350,119098,8507000
7108,P09794,Velachery,1896,13-07-2005,156,3.0,2.0,5,Partial,Yes,24-07-1961,Others,ELO,Paved,I,3.1,3.5,4.3,3.64,349177,79812,9976480

In [57]:
#Shape show the number of rows and columns in the dataframe

df.shape

(7109, 22)

In [58]:
#Displaying all the columns

df.columns

Index(['PRT_ID', 'AREA', 'INT_SQFT', 'DATE_SALE', 'DIST_MAINROAD', 'N_BEDROOM',
       'N_BATHROOM', 'N_ROOM', 'SALE_COND', 'PARK_FACIL', 'DATE_BUILD',
       'BUILDTYPE', 'UTILITY_AVAIL', 'STREET', 'MZZONE', 'QS_ROOMS',
       'QS_BATHROOM', 'QS_BEDROOM', 'QS_OVERALL', 'REG_FEE', 'COMMIS',
       'SALES_PRICE'],
      dtype='object')

In [59]:
#Checking the unique values of the columns
for i in df.columns:
    values = df[i].unique()
    print(i," : ",values)
    print("\n")

#-->For a single value there are so many different spelings are there , so we have to clean it

PRT_ID  :  ['P03210' 'P09411' 'P01812' ... 'P09594' 'P06508' 'P09794']


AREA  :  ['Karapakkam' 'Anna Nagar' 'Adyar' 'Velachery' 'Chrompet' 'KK Nagar'
 'TNagar' 'T Nagar' 'Chrompt' 'Chrmpet' 'Karapakam' 'Ana Nagar' 'Chormpet'
 'Adyr' 'Velchery' 'Ann Nagar' 'KKNagar']


INT_SQFT  :  [1004 1986  909 ...  688 2051  598]


DATE_SALE  :  ['04-05-2011' '19-12-2006' '04-02-2012' ... '28-03-2014' '25-08-2006'
 '13-07-2005']


DIST_MAINROAD  :  [131  26  70  14  84  36 137 176 175  74  78 143  83 157 148 134  69 168
  53  96 114 100 111 105  29  59 185 138 173  15 117  16 130  46 180  52
  86  49 113 189  28  51  19 167 126  75 154  25 187 200  32  11  23  13
  58  89  48  39 177 116  41 192  72  24  43  85 171 149  73  62 145 125
 121 129   6 103   8  50  67   0 147  71  34 178 106 144 135  38  40 142
  79  20  99 166  63  44  60  90 169  10 122 108  98  57 104  17   1 109
 164 136  97  37   9 181  93  81 193  95 196 141 158 174  94 124  82  76
 190 194  54  64  65 153 115 102  77 182 163  88  66 119  18 188 112 120
 159   4 123  31   2 156 184 170 110   7 152  27 198 183  12  45 161  30
 118  33  61 191 160 140  47 146 128  80  55 151   3  92  22  35 101 127
 199 132  21 107  56 197 186 165  87 133 195  91  68   5  42 162 155 172
 139 179 150]


N_BEDROOM  :  [ 1.  2.  3.  4. nan]


N_BATHROOM  :  [ 1.  2. nan]


N_ROOM  :  [3 5 4 2 6]


SALE_COND  :  ['AbNormal' 'Family' 'Partial' 'AdjLand' 'Normal Sale' 'Ab Normal'
 'Partiall' 'Adj Land' 'PartiaLl']


PARK_FACIL  :  ['Yes' 'No' 'Noo']


DATE_BUILD  :  ['15-05-1967' '22-12-1995' '09-02-1992' ... '01-09-1978' '11-08-1977'
 '24-07-1961']


BUILDTYPE  :  ['Commercial' 'Others' 'Other' 'House' 'Comercial']


UTILITY_AVAIL  :  ['AllPub' 'ELO' 'NoSewr ' 'NoSeWa' 'All Pub']


STREET  :  ['Paved' 'Gravel' 'No Access' 'Pavd' 'NoAccess']


MZZONE  :  ['A' 'RH' 'RL' 'I' 'C' 'RM']


QS_ROOMS  :  [4.  4.9 4.1 4.7 3.  4.5 3.6 2.4 2.9 3.1 2.2 2.1 4.8 3.8 2.3 3.5 4.6 2.8
 4.2 3.4 2.7 2.  4.3 3.9 2.6 3.3 2.5 3.7 3.2 4.4 5. ]


QS_BATHROOM  :  [3.9 4.2 3.8 2.5 2.6 2.1 4.5 3.7 3.1 3.2 3.4 2.2 4.6 4.9 2.7 4.4 5.  2.8
 3.  2.9 3.6 4.  4.3 2.  3.3 4.7 2.3 4.1 4.8 3.5 2.4]


QS_BEDROOM  :  [4.9 2.5 2.2 3.6 4.1 3.1 2.1 4.  3.3 4.5 3.7 4.8 4.7 2.9 3.4 2.8 3.8 3.
 3.2 2.  4.3 3.9 3.5 2.6 4.4 2.4 4.6 5.  2.3 2.7 4.2]


QS_OVERALL  :  [4.33  3.765 3.09  4.01  3.29  3.32  2.67  3.26  3.55  3.16  3.83  2.89
 2.26  3.19  3.66    nan 3.57  4.3   3.35  4.76  3.39  3.43  3.73  3.59
 3.74  2.29  3.17  4.18  2.755 2.11  2.605 4.58  4.2   3.27  4.19  2.98
 3.12  3.08  3.85  3.42  3.2   4.    3.34  2.825 3.46  4.07  3.68  2.95
 3.505 2.97  3.63  3.76  3.77  2.78  3.985 3.04  2.88  4.21  2.42  3.8
 2.54  3.84  2.395 3.14  2.49  3.175 2.84  4.17  3.13  3.98  3.36  3.735
 2.62  4.61  2.6   4.09  3.18  3.425 3.71  3.21  3.61  2.9   3.94  4.145
 4.26  4.16  3.5   3.22  3.99  4.12  2.475 2.28  2.725 4.03  3.07  2.81
 3.45  3.9   3.87  3.1   2.93  3.05  3.54  2.63  3.11  3.89  3.33  3.96
 3.56  4.39  3.58  3.47  3.88  4.04  3.6   4.53  3.72  2.96  3.4   3.51
 4.215 3.055 3.06  3.53  3.435 3.41  3.86  3.62  4.5   4.42  4.14  3.01
 4.24  2.53  3.535 2.665 3.49  3.52  3.25  4.465 4.66  3.7   2.495 4.13
 4.37  2.66  2.3   2.85  3.31  3.03  3.97  2.75  3.355 3.75  2.775 4.68
 3.15  3.91  2.94  3.24  4.475 3.67  3.38  4.38  4.59  3.295 3.82  4.64
 4.1   2.55  3.37  3.48  2.73  3.945 3.285 3.93  4.27  4.28  2.34  3.815
 2.79  4.035 3.44  4.325 3.95  2.785 3.02  3.64  4.22  2.82  3.755 3.78
 3.81  3.92  4.375 3.3   3.035 3.575 2.83  2.92  4.08  4.43  2.58  3.28
 3.705 3.935 3.23  4.06  4.46  4.6   2.8   2.61  2.69  2.35  2.87  3.79
 3.485 2.91  2.99  3.825 4.445 2.985 2.37  3.745 2.995 3.65  2.33  2.895
 3.69  2.52  2.51  4.02  4.54  3.255 2.595 3.615 4.34  4.05  4.35  4.41
 2.71  3.475 4.015 4.31  2.955 2.72  4.48  3.605 3.415 4.32  2.965 3.655
 4.7   2.57  4.15  3.885 2.7   2.36  2.68  2.74  3.315 4.005 2.65  4.71
 4.25  3.    3.585 3.075 3.105 2.255 3.185 4.44  2.47  4.47  3.135 4.9
 4.52  4.57  3.595 3.495 4.56  2.4   4.11  3.165 3.395 4.29  3.275 2.39
 3.875 3.555 3.855 2.44  2.64  3.095 3.915 2.5   2.345 2.615 2.76  4.125
 3.025 3.205 3.465 3.895 2.48  4.49  2.77  2.24  2.86  3.235 2.46  2.59
 3.445 2.45  2.25  4.435 3.715 2.735 4.4   4.63  3.835 3.305 2.375 4.69
 4.155 3.455 4.23  2.655 3.685 3.625 4.025 2.885 4.36  2.945 2.855 4.115
 2.09  3.795 3.045 3.645 2.975 3.775 2.21  4.85  2.795 4.135 4.78  2.635
 4.095 2.625 3.725 2.835 4.79  3.115 4.87  2.245 4.865 4.495 3.375 2.43
 4.395 3.545 4.585 4.705 4.83  4.195 3.365 2.06  3.995 3.965 3.635 3.695
 4.405 3.785 3.515 3.385 4.515 4.95  4.255 4.72  4.65  4.045 2.32  4.73
 4.075 3.145 2.715 3.565 4.655 2.525 2.565 2.31  4.165 2.925 2.41  4.085
 3.525 3.015 2.22  4.275 3.905 2.515 3.955 3.845 4.345 2.585 4.75  3.335
 2.18  2.23  4.67  2.455 4.455 2.805 3.345 4.62  4.105 3.405 4.615 4.185
 2.815 4.45  4.97  4.415 4.055 2.645 2.685 4.315 2.845 4.82  4.225 3.155
 4.205 4.51  2.865 2.765 4.605 3.065 2.545 3.265 4.425 2.56  2.745 4.065
 4.295 2.    4.55  3.975 3.675 2.915 2.2   3.005 2.385 2.38  3.665 2.535
 3.325 3.925 3.125 4.335 4.385 2.27  4.93  3.805 4.77  2.195 4.175 2.675
 4.695 2.445 4.265 4.765 2.335 2.465 4.81  2.905 3.195 3.245 4.675 4.94 ]


REG_FEE  :  [380000 760122 421094 ... 317354 425350 349177]


COMMIS  :  [144400 304049  92114 ... 167028 119098  79812]


SALES_PRICE  :  [ 7600000 21717770 13159200 ...  8351410  8507000  9976480]

In [60]:
#Cleaning the spellings of the values in the columns

corrections = {
    'Karapakam': 'Karapakkam',
    'Ana Nagar': 'Anna Nagar',
    'Ann Nagar': 'Anna Nagar',
    'Adyr': 'Adyar',
    'Velchery': 'Velachery',
    'Chrompt': 'Chrompet',
    'Chrmpet': 'Chrompet',
    'Chormpet': 'Chrompet',
    'KKNagar': 'KK Nagar',
    'TNagar': 'T Nagar',
}

corrections_SALE_COND = {
    'PartiaLl': 'Partial',
    'Partiall': 'Partial',
    'Ab Normal': 'AbNormal',
    'Adj Land': 'AdjLand'
}

corrections_PARK_FACIL = {
    'Noo': 'No'
}

corrections_BUILDTYPE = {
    'Comercial': 'Commercial',
    'Other' : 'Others'
}

corrections_UTILITY_AVAIL = {
    'AllPub': 'All Pub',
    'NoSewr ' : 'NoSeWa'
}

corrections_STREET = {
    'Pavd': 'Paved',
    'NoAccess' : 'No Access'
}

df['AREA'] = df['AREA'].replace(corrections)
df['SALE_COND'] = df['SALE_COND'].replace(corrections_SALE_COND)
df['PARK_FACIL'] = df['PARK_FACIL'].replace(corrections_PARK_FACIL)
df['BUILDTYPE'] = df['BUILDTYPE'].replace(corrections_BUILDTYPE)
df['UTILITY_AVAIL'] = df['UTILITY_AVAIL'].replace(corrections_UTILITY_AVAIL)
df['STREET'] = df['STREET'].replace(corrections_STREET)

In [ ]:
#To check for null values in the columns

df.isnull().sum() #--> null values are there

PRT_ID            0
AREA              0
INT_SQFT          0
DATE_SALE         0
DIST_MAINROAD     0
N_BEDROOM         1
N_BATHROOM        5
N_ROOM            0
SALE_COND         0
PARK_FACIL        0
DATE_BUILD        0
BUILDTYPE         0
UTILITY_AVAIL     0
STREET            0
MZZONE            0
QS_ROOMS          0
QS_BATHROOM       0
QS_BEDROOM        0
QS_OVERALL       48
REG_FEE           0
COMMIS            0
SALES_PRICE       0
dtype: int64

In [62]:
for idx,row in df[df['N_BEDROOM'].isnull()].iterrows():
  match = df[(df['AREA']== "Anna Nagar") & (df['N_ROOM']==4) & (df['INT_SQFT']>=1500) & (df['DIST_MAINROAD']==181)]
  if not match.empty:
    df.at[idx,"N_BEDROOM"] = match.iloc[0]["N_BEDROOM"]

In [63]:
df['N_BATHROOM'] = df.apply(lambda row: row["N_BEDROOM"] if pd.isnull(row["N_BATHROOM"]) else row["N_BATHROOM"], axis=1)

In [64]:
df['QS_OVERALL'] = df.apply(lambda row: (row["QS_ROOMS"] + row["QS_BEDROOM"] + row["QS_BATHROOM"])/3 if pd.isnull(row["QS_OVERALL"]) else row["QS_OVERALL"], axis=1)

In [ ]:
df.isnull().sum()#---> All the null values are filled

PRT_ID           0
AREA             0
INT_SQFT         0
DATE_SALE        0
DIST_MAINROAD    0
N_BEDROOM        0
N_BATHROOM       0
N_ROOM           0
SALE_COND        0
PARK_FACIL       0
DATE_BUILD       0
BUILDTYPE        0
UTILITY_AVAIL    0
STREET           0
MZZONE           0
QS_ROOMS         0
QS_BATHROOM      0
QS_BEDROOM       0
QS_OVERALL       0
REG_FEE          0
COMMIS           0
SALES_PRICE      0
dtype: int64

In [66]:
#info() function will display column names, datatype of the columns, null value count in each column and also total number of rows and columns

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7109 entries, 0 to 7108
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PRT_ID         7109 non-null   object
 1   AREA           7109 non-null   object
 2   INT_SQFT       7109 non-null   int64
 3   DATE_SALE      7109 non-null   object
 4   DIST_MAINROAD  7109 non-null   int64
 5   N_BEDROOM      7109 non-null   float64
 6   N_BATHROOM     7109 non-null   float64
 7   N_ROOM         7109 non-null   int64
 8   SALE_COND      7109 non-null   object
 9   PARK_FACIL     7109 non-null   object
 10  DATE_BUILD     7109 non-null   object
 11  BUILDTYPE      7109 non-null   object
 12  UTILITY_AVAIL  7109 non-null   object
 13  STREET         7109 non-null   object
 14  MZZONE         7109 non-null   object
 15  QS_ROOMS       7109 non-null   float64
 16  QS_BATHROOM    7109 non-null   float64
 17  QS_BEDROOM     7109 non-null   float64
 18  QS_OVERALL     7109 non-null   float64
 19  REG_FEE        7109 non-null   int64
 20  COMMIS         7109 non-null   int64
 21  SALES_PRICE    7109 non-null   int64
dtypes: float64(6), int64(6), object(10)
memory usage: 1.2+ MB

In [49]:
#Here in the above output we can see 10 columns have datatype as "object"

In [67]:
#For time related column we are using to_datetime() to change the datatype to datetime64[ns]

df["DATE_SALE"]=pd.to_datetime(df["DATE_SALE"])
df["DATE_BUILD"]=pd.to_datetime(df["DATE_BUILD"])

#-------------------------------------------------------------

df["DB_Year"]=pd.to_datetime(df["DATE_BUILD"]).dt.year
df["DB_Month"]=pd.to_datetime(df["DATE_BUILD"]).dt.month
df["DB_Day"]=pd.to_datetime(df["DATE_BUILD"]).dt.day
df["DS_Year"]=pd.to_datetime(df["DATE_SALE"]).dt.year
df["DS_Month"]=pd.to_datetime(df["DATE_SALE"]).dt.month
df["DS_Day"]=pd.to_datetime(df["DATE_SALE"]).dt.day

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7109 entries, 0 to 7108
Data columns (total 28 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PRT_ID         7109 non-null   object
 1   AREA           7109 non-null   object
 2   INT_SQFT       7109 non-null   int64
 3   DATE_SALE      7109 non-null   datetime64[ns]
 4   DIST_MAINROAD  7109 non-null   int64
 5   N_BEDROOM      7109 non-null   float64
 6   N_BATHROOM     7109 non-null   float64
 7   N_ROOM         7109 non-null   int64
 8   SALE_COND      7109 non-null   object
 9   PARK_FACIL     7109 non-null   object
 10  DATE_BUILD     7109 non-null   datetime64[ns]
 11  BUILDTYPE      7109 non-null   object
 12  UTILITY_AVAIL  7109 non-null   object
 13  STREET         7109 non-null   object
 14  MZZONE         7109 non-null   object
 15  QS_ROOMS       7109 non-null   float64
 16  QS_BATHROOM    7109 non-null   float64
 17  QS_BEDROOM     7109 non-null   float64
 18  QS_OVERALL     7109 non-null   float64
 19  REG_FEE        7109 non-null   int64
 20  COMMIS         7109 non-null   int64
 21  SALES_PRICE    7109 non-null   int64
 22  DB_Year        7109 non-null   int64
 23  DB_Month       7109 non-null   int64
 24  DB_Day         7109 non-null   int64
 25  DS_Year        7109 non-null   int64
 26  DS_Month       7109 non-null   int64
 27  DS_Day         7109 non-null   int64
dtypes: datetime64[ns](2), float64(6), int64(12), object(8)
memory usage: 1.5+ MB

In [ ]:
#Checking for duplicates 

df.duplicated().sum()

0

In [ ]:
#df = df.drop("PRT_ID",axis="columns")

In [ ]:
#Using label encoder to give values to the string values to perform statistic analysis

from sklearn.preprocessing import LabelEncoder
label = LabelEncoder()

In [70]:
for i in df.select_dtypes(include=["object"]).columns:
  df[i] = label.fit_transform(df[i])

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7109 entries, 0 to 7108
Data columns (total 28 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PRT_ID         7109 non-null   int32
 1   AREA           7109 non-null   int32
 2   INT_SQFT       7109 non-null   int64
 3   DATE_SALE      7109 non-null   datetime64[ns]
 4   DIST_MAINROAD  7109 non-null   int64
 5   N_BEDROOM      7109 non-null   float64
 6   N_BATHROOM     7109 non-null   float64
 7   N_ROOM         7109 non-null   int64
 8   SALE_COND      7109 non-null   int32
 9   PARK_FACIL     7109 non-null   int32
 10  DATE_BUILD     7109 non-null   datetime64[ns]
 11  BUILDTYPE      7109 non-null   int32
 12  UTILITY_AVAIL  7109 non-null   int32
 13  STREET         7109 non-null   int32
 14  MZZONE         7109 non-null   int32
 15  QS_ROOMS       7109 non-null   float64
 16  QS_BATHROOM    7109 non-null   float64
 17  QS_BEDROOM     7109 non-null   float64
 18  QS_OVERALL     7109 non-null   float64
 19  REG_FEE        7109 non-null   int64
 20  COMMIS         7109 non-null   int64
 21  SALES_PRICE    7109 non-null   int64
 22  DB_Year        7109 non-null   int64
 23  DB_Month       7109 non-null   int64
 24  DB_Day         7109 non-null   int64
 25  DS_Year        7109 non-null   int64
 26  DS_Month       7109 non-null   int64
 27  DS_Day         7109 non-null   int64
dtypes: datetime64[ns](2), float64(6), int32(8), int64(12)
memory usage: 1.3 MB

In [ ]:
#Done correlation to observe the relation between the columns

df.corr()

,PRT_ID,AREA,INT_SQFT,DIST_MAINROAD,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,BUILDTYPE,UTILITY_AVAIL,STREET,MZZONE,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE,DB_Year,DB_Month,DB_Day,DS_Year,DS_Month,DS_Day
PRT_ID,1.000000,0.129180,0.114991,-0.011866,0.166040,0.084112,0.103123,-0.003208,0.004354,-0.019329,-0.018171,-0.022508,-0.094177,-0.001896,0.000825,-0.001631,0.003949,0.042507,-0.000530,0.019078,-0.201550,0.004089,0.003247,-0.968381,-0.006402,-0.005355
AREA,0.129180,1.000000,0.351331,-0.015105,0.361847,0.221756,0.279363,-0.007565,0.010383,-0.009517,0.004391,0.014482,-0.154106,0.005033,-0.001288,0.003343,0.005247,0.073838,0.219090,-0.019138,-0.209074,0.000591,-0.009189,-0.185621,-0.023236,0.004023
INT_SQFT,0.114991,0.351331,1.000000,0.002022,0.786263,0.515528,0.951279,0.006969,0.004618,-0.006329,0.014694,0.008341,0.143226,0.019850,-0.008337,0.008865,0.012408,0.657544,0.571076,0.612125,-0.009301,-0.004393,-0.004725,-0.123840,-0.022163,-0.001990
DIST_MAINROAD,-0.011866,-0.015105,0.002022,1.000000,-0.002723,0.002355,0.002301,0.004367,-0.009448,-0.014235,0.003075,0.011087,0.007334,0.002237,-0.029468,0.001554,-0.016678,0.011600,0.010994,0.018783,0.005706,-0.013593,-0.005173,0.012821,-0.007747,0.016964
N_BEDROOM,0.166040,0.361847,0.786263,-0.002723,1.000000,0.755180,0.840209,0.009801,-0.009357,-0.002262,0.018621,0.003909,0.049928,0.014948,-0.007534,0.015752,0.012933,0.455380,0.430446,0.330987,0.012421,0.000580,-0.027146,-0.185263,-0.016395,-0.014765
N_BATHROOM,0.084112,0.221756,0.515528,0.002355,0.755180,1.000000,0.568847,0.001706,-0.013690,-0.003176,0.020376,-0.008964,-0.046767,0.013289,-0.011966,0.013658,0.008025,0.260658,0.256592,0.109233,0.001826,0.008772,-0.034754,-0.105800,0.002118,-0.021127
N_ROOM,0.103123,0.279363,0.951279,0.002301,0.840209,0.568847,1.000000,0.009726,-0.000934,-0.007127,0.016157,0.000194,0.163697,0.016524,-0.007545,0.015072,0.014310,0.630932,0.533343,0.602760,0.013409,0.000726,-0.011607,-0.109391,-0.020151,-0.004598
SALE_COND,-0.003208,-0.007565,0.006969,0.004367,0.009801,0.001706,0.009726,1.000000,-0.012948,-0.010065,0.003847,0.012191,0.023552,0.004002,-0.013895,-0.006485,-0.009081,-0.030803,-0.035199,-0.030732,0.008576,0.016925,-0.012458,0.002230,0.002919,-0.001826
PARK_FACIL,0.004354,0.010383,0.004618,-0.009448,-0.009357,-0.013690,-0.000934,-0.012948,1.000000,-0.006436,0.004047,0.007567,-0.007192,-0.008128,-0.011935,-0.001165,-0.010170,0.140049,0.097484,0.146428,0.008042,0.006772,-0.015842,-0.004268,-0.014010,-0.008805
BUILDTYPE,-0.019329,-0.009517,-0.006329,-0.014235,-0.002262,-0.003176,-0.007127,-0.010065,-0.006436,1.000000,0.014974,-0.010680,-0.016594,-0.001640,0.009661,-0.000391,0.002595,-0.399728,-0.275657,-0.436276,-0.000171,-0.000370,-0.006719,0.019021,0.002459,-0.003271
UTILITY_AVAIL,-0.018171,0.004391,0.014694,0.003075,0.018621,0.020376,0.016157,0.003847,0.004047,0.014974,1.000000,0.009737,0.012343,0.007509,0.005364,0.008394,0.011008,-0.012957,-0.001093,-0.023812,0.002936,0.007207,-0.016323,0.015719,0.000763,-0.009774
STREET,-0.022508,0.014482,0.008341,0.011087,0.003909,-0.008964,0.000194,0.012191,0.007567,-0.010680,0.009737,1.000000,-0.002052,0.013360,0.012205,-0.018329,0.006770,-0.031627,-0.022541,-0.042652,-0.000073,-0.022122,0.003940,0.023514,-0.010457,0.017030
MZZONE,-0.094177,-0.154106,0.143226,0.007334,0.049928,-0.046767,0.163697,0.023552,-0.007192,-0.016594,0.012343,-0.002052,1.000000,0.002429,-0.017181,0.003635,-0.005500,0.330169,0.245679,0.427789,0.129873,0.006029,0.007364,0.125181,-0.007268,0.009003
QS_ROOMS,-0.001896,0.005033,0.019850,0.002237,0.014948,0.013289,0.016524,0.004002,-0.008128,-0.001640,0.007509,0.013360,0.002429,1.000000,0.008828,0.007789,0.517224,0.019739,0.009377,0.021967,-0.018704,0.017491,-0.004693,0.003002,0.019286,-0.012497
QS_BATHROOM,0.000825,-0.001288,-0.008337,-0.029468,-0.007534,-0.011966,-0.007545,-0.013895,-0.011935,0.009661,0.005364,0.012205,-0.017181,0.008828,1.000000,-0.011745,0.551826,-0.006719,-0.000471,-0.011377,-0.021168,-0.010794,0.013547,-0.000047,-0.005979,-0.001335
QS_BEDROOM,-0.001631,0.003343,0.008865,0.001554,0.015752,0.013658,0.015072,-0.006485,-0.001165,-0.000391,0.008394,-0.018329,0.003635,0.007789,-0.011745,1.000000,0.629948,0.021526,0.020118,0.018804,0.018011,0.000557,-0.000476,0.002794,-0.000528,-0.021446
QS_OVERALL,0.003949,0.005247,0.012408,-0.016678,0.012933,0.008025,0.014310,-0.009081,-0.010170,0.002595,0.011008,0.006770,-0.005500,0.517224,0.551826,0.629948,1.000000,0.021449,0.017057,0.020016,-0.011277,0.000803,0.000324,-0.001512,-0.000121,-0.021109
REG_FEE,0.042507,0.073838,0.657544,0.011600,0.455380,0.260658,0.630932,-0.030803,0.140049,-0.399728,-0.012957,-0.031627,0.330169,0.019739,-0.006719,0.021526,0.021449,1.000000,0.659903,0.878148,0.108196,0.009472,0.000500,-0.030000,-0.016870,0.000737
COMMIS,-0.000530,0.219090,0.571076,0.010994,0.430446,0.256592,0.533343,-0.035199,0.097484,-0.275657,-0.001093,-0.022541,0.245679,0.009377,-0.000471,0.020118,0.017057,0.659903,1.000000,0.626275,0.087359,-0.000994,-0.001016,0.000180,-0.011111,-0.003019
SALES_PRICE,0.019078,-0.019138,0.612125,0.018783,0.330987,0.109233,0.602760,-0.030732,0.146428,-0.436276,-0.023812,-0.042652,0.427789,0.021967,-0.011377,0.018804,0.020016,0.878148,0.626275,1.000000,0.116043,0.008268,0.003787,0.000906,-0.012781,0.005690
DB_Year,-0.201550,-0.209074,-0.009301,0.005706,0.012421,0.001826,0.013409,0.008576,0.008042,-0.000171,0.002936,-0.000073,0.129873,-0.018704,-0.021168,0.018011,-0.011277,0.108196,0.087359,0.116043,1.000000,-0.012407,-0.025606,0.228082,-0.015293,0.002864
DB_Month,0.004089,0.000591,-0.004393,-0.013593,0.000580,0.008772,0.000726,0.016925,0.006772,-0.000370,0.007207,-0.022122,0.006029,0.017491,-0.010794,0.000557,0.000803,0.009472,-0.000994,0.008268,-0.012407,1.000000,0.001082,-0.071416,0.388720,-0.177768
DB_Day,0.003247,-0.009189,-0.004725,-0.005173,-0.027146,-0.034754,-0.011607,-0.012458,-0.015842,-0.006719,-0.016323,0.003940,0.007364,-0.004693,0.013547,-0.000476,0.000324,0.000500,-0.001016,0.003787,-0.025606,0.001082,1.000000,-0.025234,0.211349,0.194150
DS_Year,-0.968381,-0.185621,-0.123840,0.012821,-0.185263,-0.105800,-0.109391,0.002230,-0.004268,0.019021,0.015719,0.023514,0.125181,0.003002,-0.000047,0.002794,-0.001512,-0.030000,0.000180,0.000906,0.228082,-0.071416,-0.025234,1.000000,-0.063404,-0.029882
DS_Month,-0.006402,-0.023236,-0.022163,-0.007747,-0.016395,0.002118,-0.020151,0.002919,-0.014010,0.002459,0.000763,-0.010457,-0.007268,0.019286,-0.005979,-0.000528,-0.000121,-0.016870,-0.011111,-0.012781,-0.015293,0.388720,0.211349,-0.063404,1.000000,0.005394
DS_Day,-0.005355,0.004023,-0.001990,0.016964,-0.014765,-0.021127,-0.004598,-0.001826,-0.008805,-0.003271,-0.009774,0.017030,0.009003,-0.012497,-0.001335,-0.021446,-0.021109,0.000737,-0.003019,0.005690,0.002864,-0.177768,0.194150,-0.029882,0.005394,1.000000

In [ ]:
#From the correlation matrix we can observe that "PRT_ID","DATE_BUILD","DATE_SALE" columns have no great relation to the data
 
df = df.drop(["PRT_ID","DATE_BUILD","DATE_SALE"],axis="columns")

In [78]:
df

,AREA,INT_SQFT,DIST_MAINROAD,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,BUILDTYPE,UTILITY_AVAIL,STREET,MZZONE,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE,DB_Year,DB_Month,DB_Day,DS_Year,DS_Month,DS_Day
0,4,1004,131,1.0,1.0,3,0,1,0,0,2,0,4.0,3.9,4.9,4.330,380000,144400,7600000,1967,5,15,2011,4,5
1,1,1986,26,2.0,1.0,5,0,0,0,0,0,3,4.9,4.2,2.5,3.765,760122,304049,21717770,1995,12,22,2006,12,19
2,0,909,70,1.0,1.0,3,0,1,0,1,0,4,4.1,3.8,2.2,3.090,421094,92114,13159200,1992,9,2,2012,4,2
3,6,1855,14,3.0,2.0,5,2,0,2,2,2,2,4.7,3.9,3.6,4.010,356321,77042,9630290,1988,3,18,2010,3,13
4,4,1226,84,1.0,1.0,3,0,1,2,0,0,1,3.0,2.5,4.1,3.290,237000,74063,7406250,1979,10,13,2009,5,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7104,4,598,51,1.0,1.0,2,1,0,2,1,1,5,3.0,2.2,2.4,2.520,208767,107060,5353000,1962,1,15,2011,3,1
7105,6,1897,52,3.0,2.0,5,2,1,2,2,1,3,3.6,4.5,3.3,3.920,346191,205551,10818480,1995,11,4,2004,8,4
7106,6,1614,152,2.0,1.0,4,3,0,1,2,0,2,4.3,4.2,2.9,3.840,317354,167028,8351410,1978,1,9,2006,8,25
7107,4,787,40,1.0,1.0,2,4,1,0,1,2,4,4.6,3.8,4.1,4.160,425350,119098,8507000,1977,11,8,2009,3,8
7108,6,1896,156,3.0,2.0,5,4,1,2,1,2,2,3.1,3.5,4.3,3.640,349177,79812,9976480,1961,7,24,2005,7,13

In [79]:
#Separating  the dependent(Target) and independant columns

x = df.drop("SALES_PRICE",axis=1) #independent
y = df["SALES_PRICE"] #dependent

In [80]:
#Spliting the data into 90% for training and 10% for testing

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.1)

In [ ]:
pip install scikit-learn  #scikitlearn and sklearn both are same

Requirement already satisfied: scikit-learn in c:\users\91887\appdata\local\programs\anaconda\lib\site-packages (0.24.2)
Requirement already satisfied: scipy>=0.19.1 in c:\users\91887\appdata\local\programs\anaconda\lib\site-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\91887\appdata\local\programs\anaconda\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: joblib>=0.11 in c:\users\91887\appdata\local\programs\anaconda\lib\site-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\91887\appdata\local\programs\anaconda\lib\site-packages (from scikit-learn) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [82]:
from sklearn.linear_model import LinearRegression
model = LinearRegression().fit(x_train,y_train)

In [83]:
from sklearn.metrics import mean_absolute_error , mean_squared_error , r2_score

In [85]:
y_predict = model.predict(x_test)
print("MAE : ",mean_absolute_error(y_test,y_predict))
print("MSE : ",mean_squared_error(y_test,y_predict))
print("r2 : ",r2_score(y_test,y_predict))

MAE :  1013209.5298759445
MSE :  1642416561117.739
r2 :  0.8720463498873177

In [86]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor().fit(x_train,y_train)
y_predict = model.predict(x_test)
print(mean_absolute_error(y_test,y_predict))
print(mean_squared_error(y_test,y_predict))
print(r2_score(y_test,y_predict))

521700.8407876231
424512265569.2215
0.9669280649117296

In [87]:
from sklearn.ensemble import AdaBoostRegressor
model = AdaBoostRegressor().fit(x_train,y_train)
y_predict = model.predict(x_test)
print(mean_absolute_error(y_test,y_predict))
print(mean_squared_error(y_test,y_predict))
print(r2_score(y_test,y_predict))

961821.2903627141
1443560841459.3037
0.8875383485546746

In [88]:
from sklearn.ensemble import BaggingRegressor
model = BaggingRegressor().fit(x_train,y_train)
y_predict = model.predict(x_test)
print(mean_absolute_error(y_test,y_predict))
print(mean_squared_error(y_test,y_predict))
print(r2_score(y_test,y_predict))

568077.6736990155
493455619558.3446
0.9615569830542039

In [89]:
pip install xgboost

Requirement already satisfied: xgboost in c:\users\91887\appdata\local\programs\anaconda\lib\site-packages (2.1.4)
Requirement already satisfied: numpy in c:\users\91887\appdata\local\programs\anaconda\lib\site-packages (from xgboost) (1.26.4)
Requirement already satisfied: scipy in c:\users\91887\appdata\local\programs\anaconda\lib\site-packages (from xgboost) (1.13.1)
Note: you may need to restart the kernel to use updated packages.

In [90]:
from xgboost import XGBRegressor
model = XGBRegressor().fit(x_train,y_train)
y_predict = model.predict(x_test)
print(mean_absolute_error(y_test,y_predict))
print(mean_squared_error(y_test,y_predict))
print(r2_score(y_test,y_predict))

309605.9229957806
163721686917.52908
0.9872451435648901

In [92]:
from sklearn.linear_model import LinearRegression
model = LinearRegression().fit(x_train,y_train)
y_predict = model.predict(x_test)
print(mean_absolute_error(y_test,y_predict))
print(mean_squared_error(y_test,y_predict))
print(r2_score(y_test,y_predict))

1013209.5298759445
1642416561117.739
0.8720463498873177

In [93]:
from sklearn.linear_model import Lasso
model = Lasso().fit(x_train,y_train)
y_predict = model.predict(x_test)
print(mean_absolute_error(y_test,y_predict))
print(mean_squared_error(y_test,y_predict))
print(r2_score(y_test,y_predict))

1013208.9430493296
1642416804231.0159
0.8720463309474019

In [94]:
from sklearn.svm import SVR
model = SVR().fit(x_train,y_train)
y_predict = model.predict(x_test)
print(mean_absolute_error(y_test,y_predict))
print(mean_squared_error(y_test,y_predict))
print(r2_score(y_test,y_predict))

2782597.8587171244
13076375520769.137
-0.01872449276075905

In [95]:
from sklearn.linear_model import ElasticNet
model = ElasticNet().fit(x_train,y_train)
y_predict = model.predict(x_test)
print(mean_absolute_error(y_test,y_predict))
print(mean_squared_error(y_test,y_predict))
print(r2_score(y_test,y_predict))

1083630.4704393793
2037016292025.5513
0.8413047724468321

In [96]:
from sklearn.linear_model import ARDRegression
model = ARDRegression().fit(x_train,y_train)
y_predict = model.predict(x_test)
print(mean_absolute_error(y_test,y_predict))
print(mean_squared_error(y_test,y_predict))
print(r2_score(y_test,y_predict))

1095364.9757233316
1943788635163.3762
0.8485677404839115

In [97]:
from sklearn.linear_model import BayesianRidge
model = BayesianRidge().fit(x_train,y_train)
y_predict = model.predict(x_test)
print(mean_absolute_error(y_test,y_predict))
print(mean_squared_error(y_test,y_predict))
print(r2_score(y_test,y_predict))

1315083.3441717136
2873295966120.5923
0.7761537995762937